<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name}">后台登录</title>
    <meta name="keywords" th:content="#{app.name}" content="LarryCMS后台登录界面" />
    <meta name="description" th:content="#{app.name}" content="LarryCMS Version:1.09" />
    <meta name="Author" content="larry" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" media="all">
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/menu/menu.js}"></script>
</head>
<body>
<form class="layui-form" action="" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">菜单类别</label>
        <div class="layui-input-block">
            <input disabled type="checkbox" th:checked="${'TOP' == menu.type.name()}" lay-skin="switch" lay-text="顶部|左侧">
        </div>
    </div>
    <div class="layui-form-item" th:hidden="${'TOP' == menu.type.name()}">
        <label class="layui-form-label">父菜单</label>
        <div class="layui-input-inline">
            <select disabled name="pid" id="pid" lay-search>
                <option value="">--请选择--</option>
                <option th:each="curmenu,menuStat:${menus}" th:value="${curmenu.id}" th:text="${curmenu.title}" th:selected="${curmenu.id == menu.pid}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-inline">
            <input disabled type="text" name="title" th:value="${menu.title}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标样式</label>
        <i class="layui-icon" style="font-size: 40px;" id="iconPreview">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var icon=[[${menu.icon}]];
                function decode(str) {
                    return unescape(str.replace(/&#x/g,'%u').replace(/;/g,''))
                }
                document.write(decode(icon))
                /*]]>*/
            </script>
        </i>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单URL</label>
        <div class="layui-input-inline">
            <input disabled type="text" name="href" th:value="${menu.href}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input disabled type="checkbox" th:checked="${menu.status == 0}" lay-skin="switch" lay-text="启用|禁用" lay-filter="statusFilter">
        </div>
    </div>
</form>
</body>