<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name}">后台登录</title>
    <meta name="keywords" th:content="#{app.name}" content="LarryCMS后台登录界面" />
    <meta name="description" th:content="#{app.name}" content="LarryCMS Version:1.09" />
    <meta name="Author" content="larry" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" media="all">
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/user.js}"></script>
</head>
<body>
<form class="layui-form" action="" style="margin-top: 20px;">
    <input type="hidden" name="id" th:value="${user.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="userCode" th:value="${user.userCode}"  lay-verify="required|userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" th:value="${user.userCode}" lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="userName" th:value="${user.userName}"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="0" th:checked="${user.sex == '0'}" title="男" >
            <input type="radio" name="sex" value="1" th:checked="${user.sex == '1'}" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="mobilePhone" th:value="${user.mobilePhone}" lay-verify="required|phone"  placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" th:value="${user.email}" required  lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <select name="roleCode" lay-verify="required">
                <option value="">--请选择--</option>
                <option value="0" th:selected="${user.roleCode == 0}">超级管理员</option>
                <option value="1" th:selected="${user.roleCode == 1}">管理员</option>
                <option value="2" th:selected="${user.roleCode == 2}">普通帐号</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" th:checked="${user.status == 0}" value="0" title="启用">
            <input type="radio" name="status" th:checked="${user.status == 1}" value="1" title="禁用">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">座右铭</label>
        <div class="layui-input-block">
            <textarea name="motto" th:text="${user.motto}" placeholder="既然选择了远方，便只顾风雨兼程；路漫漫其修远兮，吾将上下而求索" class="layui-textarea">${user.motto}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formEdit">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>