<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>颜面</title>
    <link th:href="${staticPath}+'/css/login.css'" rel="stylesheet" type="text/css" href="../static/css/login.css"/>
</head>
<body>
<div class="bg">
   奎土土寺
</div>
</body>
<script type="text/javascript" th:src="${staticPath}+'/js/libs/jquery.min.js'" src="../static/js/libs/jquery.min.js"></script>
<script type="text/javascript" th:src="${staticPath}+'/js/libs/jquery.md5.js'" src="../static/js/libs/jquery.min.js"></script>
<script type="text/javascript" th:src="${staticPath}+'/js/libs/jquery.cookie.js'" src="../static/js/libs/jquery.min.js"></script>
<script type="text/javascript">

</script>
</html>