<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
    <appender name="StackRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/kdm-service.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>./logs/kdm-service.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- 单个log文件大小 -->
            <maxFileSize>1MB</maxFileSize>
            <!-- 最多保存60份日志文件 -->
            <maxHistory>60</maxHistory>
            <!-- 日志文件总大小不超过20G -->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="StackRollingFileAppender" />
    </root>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="StackRollingFileAppender" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="StackRollingFileAppender" />
        </root>
    </springProfile>

</configuration>
