<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sparklr</title>
    <link type="text/css" rel="stylesheet"
          href="../webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script type="text/javascript"
            src="../webjars/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="../webjars/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body>
    <form id='confirmationForm' name='confirmationForm' action='/oauth/authorize' method='post'>
        <input name='user_oauth_approval' value='true' type='hidden'/>
        <ul>
            <li>
                <div class='form-group'>
                    scope.read:
                    <input type='radio' name='scope.read' value='true'>Approve</input>
                    <input type='radio' name='scope.read' value='false' checked="checked">Deny</input>
                </div>
            </li>
            <li>
                <div class='form-group'>
                    scope.write:
                    <input type='radio' name='scope.write' value='true'>Approve</input>
                    <input type='radio' name='scope.write' value='false' checked="checked">Deny</input>
                </div>
            </li>
        </ul>
        <input name='authorize' value='授权' type='submit'/>
    </form>

    <div class="footer">
        Sample application for <a
            href="http://github.com/spring-projects/spring-security-oauth"
            target="_blank">Spring Security OAuth</a>
    </div>
</body>
</html>